h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 21030302401. Identificar obligaciones tributarias, territoriales y nacionales, de acuerdo con normativa.

            li 
                span 21030302402. Aplicar las tarifas de impuestos en las operaciones de acuerdo con normativa.