.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td Estatuto Tributario (ET) - Decreto 0624 de 1989
                    
                    td Libro
                    td 
                        a(href="https://estatuto.co/", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver

                tr
                    td Secretaria de hacienda de Bogotá
                    
                    td Página web
                    td 
                        a(href="https://www.shd.gov.co/shd/", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver                        