include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Aprendizaje, S. N. (s.f.). Biblioteca SENA. Obtenido de Biblioteca SENA: ", "https://www.sena.edu.co/es-co/Paginas/default.aspx")

        +referenciaItem("CCB. (s.f.). Cámara de Comercio de Bogotá .Recuperado de Cámara de Comercio de Bogotá: ", "https://www.ccb.org.co/")

        +referenciaItem("CTCP. (2018). Consejo Técnico de la Contaduría Pública. Obtenido de Consejo Técnico de la Contaduría Pública: ", "http://www.ctcp.gov.co/")

        +referenciaItem("Digital, G. (s.f.). Secretaria Distrital de Hacienda . Obtenido de Secretaria Distrital de Hacienda : ", "https://www.shd.gov.co/shd/contribuyentes")

        +referenciaItem("Especial, U. A. (2018). Junta Central de Contadores. Obtenido de Junta Central de Contadores: ", "https://www.jcc.gov.co/")

        +referenciaItem("Eficiente, C. C. (2012). Guía para la codificación de bienes y servicios de acuerdo con el código estándar de productos y servicios de Naciones Unidas. ", "http://www.colombiacompra.gov.co/sites/default/files/manuales/manualclasificador.pdf.")

        +referenciaItem("Gonzalez, F., & Calderón, V. (2002). Las reformas tributarias en Colombia durante el siglo XX (II). Boletines de divulgación económica, 9.", " ")

        +referenciaItem("Hacienda, M. d. (2019). Dirección de Impuestos y Aduanas Nacionales. Obtenido de Dirección de Impuestos y Aduanas Nacionales: ", "https://www.dian.gov.co/")

        +referenciaItem("IFRS. (2018). IFRS Foundation's. Obtenido de IFRS Foundation's: ", "https://www.ifrs.org/")

        +referenciaItem("INCP. (2018). Instituto Nacional de Contadores Públicos Colombia . Obtenido de Instituto Nacional de Contadores Públicos Colombia : ", "https://www.incp.org.co/")

        +referenciaItem("Legis (2019, 16 de abril) Nuevas responsabilidades en el RUT. ", "http://www.comunidadcontable.com/BancoConocimiento/Otros/nuevas-responsabilidades-en-el-rut.asp?Miga=&CodSeccion=")

        +referenciaItem("MinComercio. (s.f.). Superintendencia de Sociedades. Obtenido de Superintendencia de Sociedades: ", "https://www.supersociedades.gov.co/SitePages/Inicio.aspx")

        +referenciaItem("Ministerio de Comercio, I. y. (s.f.). MinComercio . Obtenido de MinComercio : ", "https://www.mincit.gov.co/")

        +referenciaItem("Morales, A. M. C., Pineda, C. M. R., & Monsalve, O. O. V. (2019). La primera reforma tributaria en la historia de la humanidad. Entramado, 15(1), 152-163.", " ")

        +referenciaItem("Murcia , D. (10 de Noviembre de 2011). Impuestos en Colombia . Obtenido de Impuestos en Colombia : ", "http://inpuestos-geografia.blogspot.com/2011/11/impuesto-el-impuesto-es-una-clase-de.html")

        +referenciaItem("Secretaría Distrital de Hacienda (2020, 28 de octubre) Estatuto tributario. ", "https://www.shd.gov.co/shd/pub-tri-estatuto")

        +referenciaItem("Secretaría Distrital de Hacienda (2020, 28 de octubre) Otros impuestos y tributos. ", "https://www.shd.gov.co/shd/otros-impuestos-y-tributos")

        +referenciaItem("Serrano Valenzuela, J. (2019) Guía legis para la declaración de renta. Legis.", " ")      
        
        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            